@link-color: maroon;
@link-color-hover: darken(@link-color, 20%);

* {
    box-sizing: border-box
}

&.btn-awesome {
    .button-creator(@link-color);
    }

@font-face {
font-family: Granite;
src: url("../Granite-Bgvl.ttf");
}

.button-creator(@color) {
    font-family: Granite;
border-radius: 20px;
cursor: pointer;
width: 20px;
&:hover {
color: @link-color;
}
}

// Applies to all pages start

body {
margin: 0;
padding: 0;
background-color: lightgray;
}

h1 {
    font-size: 60px;
}

.btn {
text-transform: uppercase;
padding: 10px;
margin-right: 70px;
border: none;
text-align: center;
outline: none;
color: black;
display: flex;
justify-content: space-between;
}

.homeBtn {
    margin-left: 40px;
}



.nav-bar {
    background-color: maroon;
    border-radius: 0;
    }
    

    .container {
        margin: 260px 250px 45px 400px;
        position: absolute;
        p {
            text-align: center;
        }
    }

    .container2 {
        margin: 100px 250px 45px 400px;
        position: absolute;
        p {
            text-align: center;
        }
    }

// Applies to all pages end

//Login and forgot password page start

.logo {
    margin-top: -95px;
    margin-left: -25px;
}

.loginFont {
font-family: Granite;
margin-bottom: 100px;
color: @link-color;
}

.containerRight {

    h1 {
    text-align: center;
    font-size: 80px;
    }
}

.loginImg {
position: absolute;
height: 100vh;
width: 50%;
top: 0;
left: 0;
background-size: cover;
background-position: right 0;
z-index: 9;
}

footer {
margin-top: 240px;
margin-right: 120px;
}

.forgotBtn {
    margin-left: 45px;

}

.forgotPass {
    justify-content: center;
    background-color: @link-color;
}

// Sign up form start

.signup {
    color: white;
    &:hover {
    color: black;
    }
}


// Sign up form end

// Create Post Form start

.postArea {
    
    font-size:14pt;
    width: 100%;
}

@media screen and (max-width: 769px) {
    .containerRight {
    margin-left: 15px;
    }
    .loginImg {
        visibility: hidden;
    }
}

// Post feed page

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}

.nav-item {
    margin-bottom: 0px;
}

// Mobile query

@media screen and (max-width: 640px) {
    .loginFont {
        font-size: 30px;
        padding: none;
    }

    .create-post {
        height: 100vh;
        width: 100vw;
    }


}