@link-color: maroon;
@link-color-hover: darken(@link-color, 20%);

* {
    box-sizing: border-box
}

&.btn-awesome {
    .button-creator(@link-color);
    }


@font-face {
font-family: Granite;
src: url("../Granite-Bgvl.ttf");
}


.button-creator(@color) {
    font-family: Granite;
border-radius: 20px;
cursor: pointer;
width: 20px;
&:hover {
color: @link-color;
}
}

// Applies to all pages start

body {
margin: 0;
padding: 0;
background-color: lightgray;
}

h1 {
    font-size: 60px;
}

.btnCat {
    background-color: @link-color;
    color: white;
    margin-top: 10px;
}

.btn2 {
text-transform: uppercase;
padding: 10px;
margin-right: 70px;
border: none;
text-align: center;
outline: none;
color: black;
display: flex;
justify-content: space-between;
}

.voteBtns {
    
}

.homeBtn {
    margin-left: 40px;
}



.nav-bar {
    background-color: maroon;
    border-radius: 0;
    }
    

    .container {
        margin: 260px 250px 45px 400px;
        position: absolute;
        p {
            text-align: center;
        }
    }

    .container2 {
        margin: 100px 250px 45px 400px;
        position: absolute;
        p {
            text-align: center;
        }
    }

// Applies to all pages end

//Login and forgot password page start

.logo {
    margin-top: -95px;
    margin-left: -25px;
}

.loginFont {
font-family: Granite;
margin-bottom: 100px;
color: @link-color;
}

.containerRight {

    h1 {
    text-align: center;
    font-size: 80px;
    }
}

.loginImg {
position: absolute;
height: 100vh;
width: 50%;
top: 0;
left: 0;
background-size: cover;
background-position: right 0;
z-index: 9;
}

footer {
margin-top: 240px;
margin-right: 120px;
}

.forgotBtn {
    margin-left: 45px;

}

.forgotPass {
    justify-content: center;
    background-color: @link-color;
}

// Sign up form start

.signup {
    color: white;
    &:hover {
    color: black;
    }
}


// Sign up form end

// Create Post Form start

.postArea {
    font-size:14pt;
    width: 100%;
}


// Post feed page

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}

.nav-item {
    margin-bottom: 0px;
}

.postStyle {
    margin-top: 600px;
}
.backgroundContainer {
    margin: 10px 250px 450px 400px;
    position: fixed;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 8px #888888;
    width: 1120px;
    vertical-align: middle;
    background-color: black;

}
    .postContainer {
        background-color: white;
        margin-top: 10px;
        padding-bottom: 30px;
        line-height: 150%;
        border: 1px solid;
        border-radius: 5px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        box-shadow: 3px 8px #888888;
        padding: 20px;
            .catClass {
                color: @link-color;
                font-family: Granite;
            }
                .postBox {
                    border: 3px solid darkgray;
                    border-radius: 5px;
                    padding: 20px;
                    margin-bottom: 20px;
                }
                    .yLink {
                        border: 3px solid darkgray;
                        border-radius: 5px;
                        padding: 5px;
                    }
                    .btnArrowUp {

                    }
    }



@media screen and (max-width: 769px) {
    .containerRight {
    margin-left: 15px;
    }
    .loginImg {
        visibility: hidden;
    }
}