@link-color: maroon;
@link-color-hover: darken(@link-color, 20%);

* {
    box-sizing: border-box
}

&.btn-awesome {
    .button-creator(@link-color);
    }

@font-face {
font-family: Granite;
src: url("../Granite-Bgvl.ttf");
}

.button-creator(@color) {
    font-family: Granite;
border-radius: 20px;
cursor: pointer;
width: 20px;
&:hover {
color: @link-color;
}
}

// Applies to all pages start

body {
margin: 0;
padding: 0;
background-color: lightgray;
}

.btn {
text-transform: uppercase;
padding: 10px;
margin-right: 70px;
border: none;
text-align: center;
outline: none;
color: black;
display: flex;
justify-content: space-between;
}



.nav-bar {
    background-color: maroon;
    border-radius: 0;
    
    }
    

    .container {
        margin: 150px 250px 45px 400px;
        position: absolute;
        p {
            text-align: center;
        }
    }

// Applies to all pages end

//Login and forgot password page start

.loginFont {
font-family: Granite;
margin-bottom: 100px;
color: @link-color;
}

.containerRight {
margin-top: 250px;
    h1 {
    text-align: center;
    font-size: 80px;
    }
}

img {
position: absolute;
height: 100vh;
width: 50%;
top: 0;
left: 0;
background-size: cover;
background-position: right 0;
z-index: 9;
}

footer {
margin-top: 240px;
margin-right: 120px;
}

.forgotBtn {
    color: black;
    justify-content: center;
    margin-top: 315px;
    margin-right: 90px;
}

.forgotPass {
    justify-content: center;
}

.signUpForm {
    margin-top: 300px;
}

// Sign up form start

.signup {
    color: white;
    &:hover {
    color: black;
    }
    }

.card {
    margin-top: 270px;
}

// Sign up form end

// Create Post Form start

.cardPost {
    margin: 0 auto;
    
}

@media screen and (max-width: 769px) {
    .containerRight {
    margin-left: 15px;
    }
    .loginImg {
        visibility: hidden;
    }
}

