{{!-- <div class="form-style">
    <form class="resetPassword-form">
        <h2>Reset Your Password</h2>
        <div>
            <label for="email-signup">email:</label>
            <input type="text" id="email-signup" />
        </div>
        <div>
            <label for="reset-password">Current Password:</label>
            <input type="password" id="password-login" />
        </div>
        <div>
            <label for="reset-password">New Password:</label>
            <input type="password" id="reset-password" />
        </div>
        <div>
            <button href="/reset-password" type="submit">Sign-Up</button>
        </div>
    </form>
</div> --}}

<div class="forgotContainer">
    <div class="">
        <div class="d-flex flex-column">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <form class="resetPassword-form">
                            <h1 class="text-center">
                                <h2>Reset Your Password</h2>
                            </h1>
                            <div class="panel-body">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    <input type="text" class="form-control" id="email-signup" placeholder="Email">
                                </div></br>
                                <div class="input-group">
                                    <span class="input-group-addon"><i
                                            class="glyphicon glyphicon-lock color-blue"></i></span>
                                    <input id="password-login" name="email" placeholder="Current Password"
                                        class="form-control" type="password">
                                </div></br>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input type="password" class="form-control" id="reset-password"
                                        placeholder="New Password">
                                </div></br>
                                <div>
                                    <button class="btn btn-lg btn-primary btn-block forgotPass"
                                        type="submit">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/javascript/reset-password.js"></script>