<div class="forgotContainer">
    <div class="">
        <div class="d-flex flex-column">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <form class="signup-form">
                            <h1 class="text-center">Sign Up</h1>
                            <p>Please fill in this form to create an account.</p>
                            <div class="panel-body">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input type="text" class="form-control" id="username-signup" placeholder="Username">
                                </div></br>
                                <div class="input-group">
                                    <span class="input-group-addon"><i
                                            class="glyphicon glyphicon-envelope color-blue"></i></span>
                                    <input id="email" name="email" placeholder="Email Address" class="form-control"
                                        type="email">
                                </div></br>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input type="password" class="form-control" id="password-signup"
                                        placeholder="Password">
                                </div></br>
                                <div>
                                    <button class="btn btn-lg btn-primary btn-block forgotPass"
                                        type="submit">Sign-Up</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script src="/javascript/signup.js"></script>